#block_page
{   
  color:#181818;
   font-size: 14px;
   font-family: 'Raleway',sans-serif;
   width: 100%;
   margin:auto;
}


body h2,h3,h4,h5, span, #block_filtre
{ 
 font-weight:bold;
}

article, aside, footer
{
  background-color: #f2f2f2;
}

a
{
 text-decoration: none;
 color: #181818;
}



/*header*/
header
{
 display:flex;
 justify-content:space-between;
 align-content: baseline;
}

.menu
{
  display:flex;
  justify-content:space-around;
  align-items: baseline;
}


nav ul
{  
   list-style-type: none;
   display: flex;
}

nav li
{
  margin-right: 40px;
  
}


nav a:hover
{
 color: #0065FC;
 border-bottom: 2.5px solid transparent;
 border-top: 2.5px solid #0065FC;
 padding-top: 20px;
}

.inscription
{
 color:#0065FC;
 font-weight:bold;

}







/*banniere*/
#banniere_text
 { 
   justify-content: flex-start;
 }

 .icone_recherche
 {
   display: none;
 }

#ville
{
  display: flex;
  align-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bouton_bleu
{ 
border: 1px solid #0065FC;
border-radius: 0px 10px 10px 0px; 
background-color: #0065FC;
padding: 10px 15px 10px 15px;
position: absolute;
text-align: center;
color: #f2f2f2;
} 

.icone
{  border: 1px solid #f2f2f2;
 border-radius: 10px 0px 0px 10px;
 padding: 10px 12px 10px 12px;
 background-color: #f2f2f2;
 position: relative;
 text-align: center;
 

}
#banniere h4
{
 margin-bottom: -10px;;
}


#block_filtre, .tous_filtres
{  display:flex;
 justify-content: flex-start;
 margin-bottom: 20px;
 align-items: baseline;
 
}

.filtre
{color: #181818;
margin-right: 15px;}

#economique, #familial, #romantique, #animaux
{  
 display: flex;
 align-items: baseline;
 color: #181818;
 margin-right: 15px;
 border:2px solid #f2f2f2;
 border-radius: 25px;
}

.text_filtre
{
  margin-left: 7px;
  padding-right: 10px;
  
}
.icone_filtre_economique
{
 background-origin: padding-box;
 border-radius: 45px;
 background-color: #DEEBFF;
 padding: 9.5px 9.5px 9px 9px;
}



.icone_filtre_familial
{background-origin: padding-box;
 border-radius: 70px;
 background-color: #DEEBFF;
 padding: 9px 13px 9px 13px;
}

.icone_filtre_romantique
{background-origin: padding-box;
 border-radius: 70px;
 background-color: #DEEBFF;
 padding: 9px 11px 9px 11px;
}   


.icone_filtre_animaux
{
 background-origin: padding-box;
 border-radius: 45px;
 background-color: #DEEBFF;
 padding: 9px 10px 9px 10px;
}


#information
{ display: flex;
 margin-bottom: 20px;
 padding-left: 5px;
}

.icone_information
{
 margin-right: 10px;
}



/*section*/
section
{
display:flex;
padding-bottom: 20px;
}

article, aside
{
 text-align: justify ;
 padding:20px;
}

article{
margin-right: 20px;
 flex:3;
 border-radius: 15px;
 
}
aside{
   flex:1.2;
   border-radius: 15px;
   justify-content: flex-start;
   align-content: space-between;
   align-items: space-between;
   
}
  




/*article*/



#hebergement
{ 
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}


.hotel
{
margin-bottom: 20px;
width: 30%;
}

.hotel_description
{
background-color: white;

}

.hotel_photo
{
height: 100px;
width:96.5%;
border: 4px solid white;
border-radius: 15px 15px 0px 0px ;
object-fit: cover;
}

.description
{
background-color: white;
border: 4px solid white;
border-radius: 0px 0px 15px 15px;
padding-right: 5px;
padding-left: 5px;

}





/*aside*/

#aside_description
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 5px;
  padding-right: 5px;
 }


.populaire
 {
  display: flex;
  margin-bottom: 20px;
 }

.populaire_photo
{
  border: 4px solid white;
  border-radius: 15px 0px 0px 15px;
  width: 40%;
  object-fit: cover; 
 
}

.description1
{
align-content: flex-start;
background-color: white;
border: 4px solid white;
border-radius: 0px 15px 15px 0px;
width: 60%;
padding:5px;

}

.populaire_star
{
 margin-top: 35px;
}
.populaire_photo1
{
 border: 4px solid white;
 border-radius: 15px 0px 0px 15px;
 width: 47%;
 object-fit: cover; 
}





/*banniere_inferieure*/
#block_banniere
{
margin-bottom: 20px;
}
#activites
{ 
 display: flex;
 justify-content: space-between;
 
}

.activite1
{

width: 23%;
height: 350px;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;

}


.activite_photo1
{
height:88%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}

.activite23, .activite56
{ width: 23%;
height: 350px;
justify-content: space-between;

}

.activite2
{

width: auto;
height: 55%;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;
margin-bottom: 13%;

}

.activite_photo2
{
height: 75%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}

.activite3
{
width: 100%;
height: 35%;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;
}

.activite_photo3
{
height: 68%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}


.activite4
{
width: 23%;
height: 350px;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;
}

.activite_photo4
{
height: 88%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}

.activite5
{

width: 100%;
height: 40%;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;
margin-bottom: 13%;

}

.activite_photo5
{
height: 72%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}

.activite6
{
width: 100%;
height: 50%;
box-shadow: 2px 5px 10px #f2f2f2;
border-radius: 15px;
}

.activite_photo6
{
height: 75%;
width: 100%;
border-radius: 15px 15px 0px 0px ;
object-fit: cover; 
}

.description_activite 
{
 border-radius: 0px 0px 15px 15px;
margin: 10px;
}





/*footer*/
footer
{
color:#181818;
font-size: 14px;
font-family: 'Raleway',sans-serif;
width: 95%;
margin:auto;

}

#block_footer
{
display:flex;
justify-content: space-between;
padding-left: 60px;
width: 70%;
}



/* petite résolution*/
@media all and (max-width: 1280px)
{
#block_page
 {
   width: auto;
   padding: 20px;

 }


 header
 {
   justify-content: space-between;
 }



 
 #banniere
 {
   width: 95%;
   margin: 10px;
 }

 .icone_recherche
 {
   display: contents;
 }

 .rechercher
 {
   display: none;
 }

 #block_filtre
 {
   flex-direction: column;
   justify-content: space-between;
 }

 .tous_filtres
 {
   flex-wrap: wrap;
 }

 .titre_filtre, .economique, .familial, .romantique, .animaux
 {
  margin-bottom: 10px;
 }

 section
 {
   flex-direction: column-reverse;
 }
  
 aside
  {
   border-radius: 0px;
  }

  article
  {
    background-color: white;
    width: 100%;
    margin-right: 20px;
  }

  #hebergement
  {
    flex-direction: column;
    width: 100%;
    
  
  }

  .hotel
  {
    width: 87%;

    border-radius: 15px;
    box-shadow: 0px 2px 5px #f2f2f2;
  
  }

  #block_banniere
  {
    padding:20px;
  }
  #activites
  {
    flex-direction: column;
  }

  .activite1, .activite2, .activite3, .activite4,  .activite5, .activite6
  { width: auto;
    height: 150px;
    margin-bottom: 30px;
  }

  .activite_photo1, .activite_photo2, .activite_photo3, .activite_photo4, .activite_photo5, .activite_photo6 
  {
  height:72%;
  }
  


  .activite23, .activite56
  {
    width: auto;
  }

footer
 {
   width: 70%;
   padding: 30px;
 
 }
#block_footer
  {
  width: 100%;
  flex-direction: column;
  padding-left: 0px;
  }



}