#block_page
{   
  color:#181818;
   font-size: 12px;
   font-family: 'Raleway',sans-serif;
   width: 1100px;
   margin:auto;
}



#logo
{
   margin-bottom: 10px;
}

body h3,h4,h5, span, #titre_filtre
{ 
 font-weight:bold;
}

article, aside, footer
{
  background-color: #f2f2f2;
}

a
{
 text-decoration: none;
 color: #181818;
}







/*header*/
header
{
 display:flex;
 justify-content: space-between;
 align-items: stretch;
}

nav ul, #titre_filtre ul
{
   list-style-type: none;
   display: flex;
}
nav li, #titre_filtre li
{
   margin-right: 30px;
}


nav a:hover
{
 color: #0065FC;
}

.inscrire
{
 color:#0065FC;
 font-weight:bold;
}







/*banniere*/
#banniere_text
 { 
   
   justify-content: flex-start;
 }



#ville
{
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bouton_bleu
{
  
  border: 1px solid #0065FC;
  border-radius: 0px 10px 10px 0px;
  background-color: #0065FC;
  padding: 10px 15px 10px 15px;
  position: absolute;
  text-align: center;
  color: #f2f2f2;
 
} 

.icone
{  border: 1px solid #f2f2f2;
 border-radius: 10px 0px 0px 10px;
 padding: 10px 12px 10px 12px;
 background-color: #f2f2f2;
 position: relative;
 text-align: center;
 

}
#banniere h4
{
 margin-bottom: -10px;;
}


#titre_filtre
{  display:flex;
 justify-content: flex-start;
 margin-bottom: 20px;
 align-items: baseline;
 
}

.filtre
{color: #181818;
margin-right: 15px;}

.economique, .familial, .romantique, .animaux
{  
 display: flex;
 border: 1px solid #f2f2f2 ;
 border-radius: 25px;  
 padding: 8px 10px 10px 10px;
 color: #181818;
 margin-right: 15px;

}

#information
{
 margin-bottom: 20px;
}



/*section*/
section
{
display:flex;
padding-bottom: 20px;
}

article, aside
{
 text-align: justify ;
 padding:20px;
}

article{
 margin-right: 30px;
 flex:3;
 border-radius: 15px;
 
}
aside{
   flex:1.2;
   border-radius: 15px;
   
}
  




/*article*/



#hotels
{ display:flex;
 flex-wrap: wrap;
 padding-top: 20px;
 align-content: center;
 justify-content: space-around;
}

#block_article h3, h4
{
 padding-left: 20px;
}

.hotel1,.hotel2, .hotel3, .hotel4, .hotel5, .hotel6
{
   border: 4px solid white;
   border-radius: 15px;
   box-shadow:0px 2px 5px  #f2f2f2;
   width: 200px;
   height: 190px;
   margin-bottom: 20px;
}





.hotel1
{
 background-image: url('images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
 background-size: 210px;
 background-position: top right;

}

.hotel1_description, .hotel2_description, .hotel3_description, .hotel4_description, .hotel5_description, .hotel6_description
{
 border-radius: 0px 0px 15px 15px;
 background-color: white;
 position: absolute;
 margin-top: 140px;
 padding: 8px;
 width: 185px;
 
}


.hotel2
{
 background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
 background-size: 260px;
 background-position: top;
}


.hotel3
{
 background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
 background-size: 260px;
 background-position: top;
}

.hotel4
{
 background-image: url('images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
 background-size: 220px;
 background-position: bottom left;

}

.hotel5
{
 background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
 background-size: 300px;
 background-position: top;
}

.hotel6
{
 background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
 background-size: 200px;
 background-position: bottom;
}




/*aside*/

 #block_aside
 {
   position: center;
   
 }
  
.aside_description
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  
}

.populaire1, .populaire2, .populaire3
{
  border: 4px solid white;
  border-radius: 15px;
  width: auto;
  height: 130px;

 
}

.populaire1
 {
  background-image: url('images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
  background-size: 200px;
  background-position: left center;
  margin-bottom: 30px;
 
 }

 
 .populaire2
 {
  background-image: url('images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
  background-size: 175px;
  background-position:   left;
  margin-bottom: 30px;

 }

 .populaire3
 {
  background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
  background-size: 125px;
  background-position: center left ;
  
 }

.populaire1_description, .populaire2_description, .populaire3_description
{ 
 position: absolute; 
 border-radius: 0px 15px 15px 0px ;
 background-color:white;
 width: 158px;
 height: 130px;
 margin-left: 120px;
}
 
#block_populaire1, #block_populaire2, #block_populaire3 
{
  padding: 20px;
  align-items: flex-start;
}






/*banniere_inferieure*/

#banniere_inferieure
{
  margin-bottom: 20px;
}
.activites
{  display: flex;
 justify-content: space-between;

}

.act1,.act2, .act3, .act4, .act5, .act6
{
   border-radius: 15px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}

.act1, .act4
{
 width: 200px;
 height: 250px;
}



.act23, .act56
{
   width: 200px;
   justify-content: stretch;
   
}


.activite1 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 215px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}
.act1
{
 background-image: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
 background-size: 320px;
 background-position: top;

}



.act2
{
 width: 200px;
 height: 130px;
 margin-bottom: 20px;
 background-image: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
 background-size: 100%;
 background-position: center;

}

.activite2 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 95px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}

.act3
{ 
 width: 200px;
 height: 80px;
 background-image: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
 background-size: 100%;
 background-position: center;

}
.activite3 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 65px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}



.act4
{
 background-image: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
 background-size: 330px;
 background-position: top;
}
.activite4 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 215px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}

.act5
{
 width: 200px;
 height: 100px;
 margin-bottom: 40px;
 background-image: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
 background-size: 100%;
 background-position: top;

}

.activite5 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 85px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}

.act6
{
 width: 200px;
 height: 100px;
 background-image: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
 background-size: 100%;
 background-position: center;

}

.activite6 h4
{   position: absolute; 
   border-radius: 0px 0px 15px 15px ;
   background-color:white;
   width: 190px;
   height: 25px;
   margin-top: 75px;
   padding-top: 10px;
   padding-left: 10px;
   box-shadow:0px 2px 5px  #f2f2f2;
   
}







/*footer*/
footer
{
 color:#181818;
 font-size: 12px;
 font-family: 'Raleway',sans-serif;
 width: 1150px;      
 margin:auto;
 display:flex;
 padding-left: 50px;
}

.propos, .nos_hebergements, .assistance
{
  padding: 10px;
  margin-right: 200px;

}

.propos h4, .nos_hebergements h4, .assistance h4
{
 margin-left: -20px;
}

